<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <application
        android:theme="@style/MaterialTheme.Indigo.Full.DayNight">
        <provider
            android:name=".CoreInitializer"
            android:authorities="${applicationId}.CoreInitializer"
            android:exported="false"/>
    </application>
</manifest>
